<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Beautiful</string>
	<key>uuid</key>
	<string>50C7F8A8-235E-4F76-BC9E-E9EF4CB3151F</string>
</dict>
</plist>
